<div class="row no-pdf">
  <div class="span12">
    <form>
      <textarea name="query" style="width: 100%; height: 30em"><%= params[:query] %></textarea>
      <input type="submit">
    </form>
  </div>
</div>

<div class="row">
  <div class="span12">
    <% if params[:query] %>
      <% @query = query do %>
        <%= params[:query] %>
      <% end %>
      <%= @query.error %>
      <%= table @query %>
    <% end %>
  </div>
</div>
